.App {
  text-align: center;
}

.text-hotpink {
  color: hotpink
}

/* NAV SECTION */
.nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.nav a:hover {
  background-color: black;
  color: white;
}

.selected {
  background-color: hotpink !important;
  color: whitesmoke !important;
}

.login {
  color: hotpink;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  margin: 0px 10px;
  padding: 5px 10px;
}

.reg {
  text-decoration: none;
  font-size: 20px;
  margin: 0px 10px;
  padding: 5px 10px;
  background-color: hotpink;
  color: floralwhite;
  transform: skew(-10deg);
}

.reg:hover {
  background-color: hotpink;
  color: antiquewhite;
}

.login:hover {
  color: whitesmoke;
  background-color: hotpink;
  transform: skew(-10deg);
}

/* RESPONSIVE NAVBAR */
.bar {
  height: 4px;
  width: 27px;
  background-color: hotpink;
  margin: 1.5px 0;
  transition: 1s all ease-in-out;
  cursor: pointer;
}

.toggle-nav {
  position: fixed;
  top: 0;
  z-index: 999;
  transition: all 1s ease-in-out;
  color: #00262B;
}

/* ANNOUNCEMENT */
.bg-hotpink {
  background-color: hotpink;
}

.enroll-btn {
  background-color: hotpink !important;
  border: 0 !important;
}

.enroll-btn:hover {
  background-color: black !important;
}